export(Cens.SMN.PCR)
importFrom("ssym","ncs")
importFrom("optimx","optimx")
importFrom("Matrix","bdiag")
importFrom("graphics", "abline", "par", "plot")
importFrom("stats", "coefficients", "dnorm", "dt", "integrate", "lm",
             "optimize", "pnorm", "pt", "rbeta", "rgamma", "rnorm",
             "runif", "sd")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("grDevices", "dev.new")
